@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300&family=Cabin+Sketch&family=Lato&family=Uncial+Antiqua&display=swap');

$color: steelblue;

.my-flix {
    color: $color;
}

div #root{
    font-family: 'Averia Sans Libre';
}